<!DOCTYPE html>
<html lang="en">
{% from 'bootstrap/nav.html' import render_nav_item %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Waynerv">
    {% block head %}
        <title>{% block title %}{% endblock title %} - Memory Cache</title>
        <link href="{{ url_for('static', filename='favicon.png') }}" rel="icon">
        {% block styles %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock styles %}
    {% endblock head %}
  </head>

  <body>

    <!-- Navigation -->
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">MemoryCache</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  {% if not current_user.is_authenticated %}
                      {{ render_nav_item('auth.register', 'Register', use_li=True) }}
                      {{ render_nav_item('auth.login', 'Log in', use_li=True) }}
                  {% else %}
                      {{ render_nav_item('auth.register', 'Log out', use_li=True) }}
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>
    {% endblock nav %}

    <!-- Page Content -->
    <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        {% block content %}
        {% endblock content %}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {% block footer %}
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MemoryCache 2019</p>
          </div>
          <!-- /.container -->
        </footer>
    {% endblock footer %}

    <!-- Bootstrap core JavaScript -->
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.js')) }}
    {% endblock scripts %}
  </body>

</html>