{% macro photo_card(photo) %}
    <div class="photo-card card">
        <a class="card-thumbnail" href="{{ url_for('main.show_photo', photo_id=photo.id) }}">
            <img class="card-img-top portrait" src="{{ url_for('main.get_image', filename=photo.filename_s) }}">
        </a>
        <div class="card-body">
            <span class="oi oi-star"></span>{{ photo.collectors|length }}
            <span class="oi oi-comment-square"></span>{{ photo.comments|length }}
        </div>
    </div>
{% endmacro %}

{% macro user_card(user) %}
    <div class="user-card text-center">
        <a href="{{ url_for('user.index', username=user.username) }}">
            <img class="rounded avatar-m" src="{{ url_for('main.get_avatar', filename=user.avatar_m) }}">
        </a>
        <h6>
            <a href="{{ url_for('user.index', username=username) }}">{{ user.name }}</a>
        </h6>
        {{ follow_area(user) }}
    </div>
{% endmacro %}

{% macro follow_area(user) %}
    {% if current_user.is_authenticated %}
        {% if current_user != user %} <!-- 不对用户自己显示关注按钮 -->
            {% if current_user.is_following(user) %} <!-- 已经关注显示取消关注按钮 -->
                <form class="inline" method="post"
                      action="{{ url_for('user.unfollow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-dark btn-sm">Unfollow</button>
                    {% if current_user.is_followed_by(user) %}
                        <!-- 显示互相关注提示 -->
                        <p class="badge badge-light">Follow each other</p>
                    {% endif %}
                </form>
            {% else %}
                <form class="inline" method="post"
                      action="{{ url_for('user.follow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-dark btn-sm">Follow</button>
                    {% if current_user.is_followed_by(user) %}
                        <!-- 显示被关注提示 -->
                        <p class="badge badge-light">Follows you</p>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <form class="inline" method="post"
              action="{{ url_for('user.follow', username=user.username, next=request.full_path) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-dark btn-sm">Follow</button>
        </form>
    {% endif %}
{% endmacro %}

{% macro trend_card(photo) %}
    <div class="card mb-3 w-100 bg-light">
        <div class="card-header">
            <a class="dead-link" href="{{ url_for('user.index', username=photo.author.username) }}">
                <img class="rounded img-fluid avatar-s profile-popover"
                     data-href="{{ url_for('ajax.get_profile', user_id=photo.author.id) }}"
                     src="{{ url_for('main.get_avatar', filename=photo.author.avatar_m) }}">
            </a>
            <a class="profile-popover trend-card-avatar"
               data-href="{{ url_for('ajax.get_profile', user_id=photo.author.id) }}"
               href="{{ url_for('user.index', username=photo.author.username) }}">{{ photo.author.name }}</a>
            <span class="float-right">
                <small data-toggle="tooltip" data-lacement="top" data-timestamp="{{ photo.timestamp }}"
                       data-delay="500">{{ moment(photo.timestamp).fromNow() }}</small>
            </span>
        </div>
        <div class="card-body">
            <div class="" align="center">
                <a class="thumbnail" href="{{ url_for('main.show_photo', photo_id=photo.id) }}" target="_blank">
                    <img class="img-fluid" src="{{ url_for('main.get_image', filename=photo.filename_m) }}">
                </a>
            </div>
        </div>
        <div class="card-footer">
            <span class="oi oi-star"></span>
            <span id="collectors-count-{{ photo.id }}"
                  data-href="{{ url_for('ajax.collectors_count', photo_id=photo.id) }}">{{ photo.collectors|length }}</span>
            <span class="oi oi-comment-square"></span>{{ photo.comments|length }}
            <div class="float-right">
                {% if current_user.is_authenticated %}
                    <button data-id="{{ photo.id }}" data-href="{{ url_for('ajax.uncollect', photo_id=photo.id) }}"
                            class="{% if not current_user.is_collecting(photo) %}hide{% endif %}
                            btn btn-outline-secondary btn-sm uncollect-btn">
                        <span class="oi oi-x"></span>Uncollect
                    </button>
                    <button data-id="{{ photo.id }}" data-href="{{ url_for('ajax.collect', photo_id=photo.id) }}"
                            class="{% if current_user.is_collecting(photo) %}hide{% endif %}
                            btn btn-outline-secondary btn-sm collect-btn">
                        <span class="oi oi-star"></span>Collect
                    </button>
                {% else %}
                    <form class="inline" method="post" action="{{ url_for('main.collect', photo_id=photo.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-outline-secondary btn-sm">
                            Collect
                        </button>
                    </form>
                {% endif %}
            </div>
            {% if photo.description %}
                <p class="card-text">{{ photo.description }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}