{% from 'bootstrap/nav.html' import render_nav_itme %}
{% from 'macros.html' import follow_area with context %}

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="{{ url_for('main.get_avatar', filename=user.avatar_l) }}">
    </div>
    <div class="col-md-9">
        <h1>{{ user.name }}
            <small class="text-muted">{{ user.username }}</small>
        </h1>
        {% if user.bio %}<p>{{ user.bio }}</p>{% endif %}
        <p>
            {% if user.website %}
                <span class="oi oi-link-intact"></span>
                <a href="{{ user.website }}">{{ user.website|truncate(30) }}</a>&nbsp;&nbsp;
            {% endif %}
            {% if user.location %}
                <span class="oi oi-map-marker"></span>
                <a href="https://www.google.com/maps?q={{ user.location }}">{{ user.location|truncate(20) }}</a>&nbsp;
                &nbsp;
            {% endif %}
            <span class="oi oi-calendar"></span>
            Joined {{ moment(user.member_since).format('LL') }}
        </p>
        <div>
            <div class="float-right">
                {{ follow_area(user) }}
            </div>
            {% if current_user != user %}
                {% if current_user.can('MODERATE') %}
                    {% if user.locked %}
                        <form class="inline" method="post" action="{{ url_for('admin.unlock_user', user_id=user.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn btn-secondary btn-sm" type="submit">
                                Unlock
                            </button>
                        </form>
                    {% else %}
                        <form class="inline" method="post" action="{{ url_for('admin.lock_user', user_id=user.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn btn-warning btn-sm" type="submit">
                                Lock
                            </button>
                        </form>
                    {% endif %}
                    {% if user.active %}
                        <form class="inline" method="post" action="{{ url_for('admin.block_user', user_id=user.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn btn-warning btn-sm" type="submit">
                                Block
                            </button>
                        </form>
                    {% else %}
                        <form class="inline" method="post" action="{{ url_for('admin.unblock_user', user_id=user.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn btn-secondary btn-sm" type="submit">
                                Unblock
                            </button>
                        </form>
                    {% endif %}
                    <a class="btn btn-light btn-sm" href="mailto:{{ user.email }}">Email</a>
                    {% if current_user.is_admin %}
                        <a class="btn btn-warning btn-sm"
                           href="{{ url_for('admin.edit_profile_admin', user_id=user.id) }}">Edit profile</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="user-nav">
    <ul class="nav nav-tabs">
        {{ render_nav_item('user.index', 'Photo', user.photos|length, use_li=True, username=user.username) }}
        {{ render_nav_item('user.show_collections', 'Collections', user.collections|length, use_li=True, username=user.username) }}
        {{ render_nav_item('user.show_followers', 'Followers', user.followers.count() - 1, use_li=True, username=user.username) }}
        {{ render_nav_item('user.show_following', 'Following', user.following.count() - 1, use_li=True, username=user.username) }}
    </ul>
</div>